<!DOCTYPE html>
<html lang="es">
     {% load static %}
     {% load i18n %}
<head>

	<title>RehaBOT</title>

    <link rel="shortcut icon" href="{% static 'rehaWebApp/images/favicon.png' %}">
	<!--

    Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

    -->
         <!-- Estando en Lag 7 vamos a intentar subirlo a pre -->
         
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'rehaWebApp/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/font-awesome.min.css' %}">


     <link rel="stylesheet" href="{% static 'rehaWebApp/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/flag-icon.css' %}">
     
	<link href="{% static 'rehaWebApp/css/magnific-popup.css' %}" rel="stylesheet">
     

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/tooplate-style.css' %}">

</head>

<body>

    
     <!-- PRE LOADER -->
     <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>


   <!-- MENU -->
   <section class="navbar custom-navbar navbar-fixed-top" role="navigation">

     <!--<div class="floating-container">
          <div class="floating-button">🔤</div>
          <div class="element-container">
                    <a href="{% url 'setLanguage' 1 3 %}"> <span class="float-element tooltip-left"><i class="flag-icon flag-icon-esp"></i></a></span>
                    <a href="{% url 'setLanguage' 2 3 %}"> <span class="float-element tooltip-left"><i class="flag-icon flag-icon-gbr"></i></a></span>  
          </div>
     </div> -->
     
        <div class="container">
             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="{% url 'Acceso' %}" class="navbar-brand">{% trans "Rehabilitación Bot"%}</a>
                  <!--<a class="navbar-brand logo-image" href="index.html"><img src="images/chatbot.png" alt="alternative">Rehabilitación Bot</a>  -->
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                       <li><a href="{% url 'Pacientes' %}" class="smoothScroll">{% trans "Pacientes"%}</a></li>
                       <li><a href="{% url 'Ejercicios' %}" class="smoothScroll">{% trans "Ejercicios"%}</a></li>
                       <li><a href="{% url 'Sesiones' %}"class="smoothScroll">{% trans "Sesiones"%}</a></li>
                       <li><a href="#about" class="smoothScroll">{% trans "Bienvenido, "%}<strong>{{user.username}}</strong></a></li>
                       <!--<li><a href="#pricing" class="smoothScroll">Pricing</a></li>-->
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                       <!-- <li><a href="#">Say hello - <span>info@soft.co</span></a></li> -->
                       <a href="{% url 'logout' %}" class="section-btn pricing-btn" style="background-color:tomato;">{% trans "Salir"%}</a>
                  </ul>
             </div>

        </div>
   </section>

<section style="min-height: 100vh;">

    <div class="overlay"></div> <!-- COLOR DE FONDO -->

    {% for ejercicio in ejercicio %}
    <div class="row justify-content-center" style="padding-top: 3em;" >
        <div class="col-sm-12 text-center" > 
            <div style="border-radius: 10px 10px 10px 10px; position: relative; justify-content: center;" > 
                <a href="{% url 'EditarEjercicio' ejercicio.id %}" class="section-btn" style="background-color:whitesmoke; color: black; ">{% trans "Editar ejercicio" %}</a>
            </div><br><br>
        </div>
   </div> <!-- FIN DE PRIMER APARTADO -->
   {% endfor %}

   <div class="row justify-content-center" style="padding-top: 1em; padding-left: 10em;" >

    
    <div class="col-sm-11 text-left" style=" margin-right: 1em ;background-color: white; border-radius: 10px 10px 10px 10px; font-size: 110%;"> 
        <br><div class="col-sm-12 text-center" style=" background-color: white; border-radius: 10px 10px 10px 10px; font-size: 140%;"> 
            <strong>{% trans "Detalles del ejercicio" %}</strong><br><br>
        </div><br>
        {% for ejercicio in ejercicio %}
            <br> {% trans "Codigo: " %}<strong> {{ejercicio.codigo}}</strong>
            <br> {% trans "Nombre: " %}<strong> 
                {% if idioma == 'es' %}
                    {{ejercicio.nombre}}</strong>
                {% elif idioma == 'en' %}
                    {{ejercicio.nombre}}</strong>
                {% endif %}
            <br> {% trans "Descripción: " %}
            <strong> 
                {% if not ejercicio.descripcion %}
                    {% trans "No existe descripción para este ejercicio" %}
                {% else %}
                    {% if idioma == 'es' %}
                        {{ejercicio.descripcion}}
                    {% elif idioma == 'en' %}
                        {{ejercicio.descripcion}}
                        {% endif %}
                {% endif %}
            </strong>
            <br> {% trans "Rangos de edad: " %}
                <strong> 
                    {% for e in ejercicio.edad.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
            <br> {% trans "Extremidades: " %}
                <strong> 
                    {% for e in ejercicio.extremidades.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
            <br> {% trans "Lateralidad: " %}<strong> 
                {% if idioma == 'es' %}
                    {{ejercicio.lateralidad}}</strong>
                {% elif idioma == 'en' %}
                    {{ejercicio.lateralidad.nombre}}</strong>
                {% endif %}
            <br> {% trans "Monitoreo de sensores: " %}<strong> 
                {% if idioma == 'es' %}
                    {{ejercicio.monitoreo_Sensores}}</strong>
                {% elif idioma == 'en' %}
                    {{ejercicio.monitoreo_Sensores.nombre}}</strong>
                {% endif %}
            <br> {% trans "Posición: " %}
                <strong> 
                    {% for e in ejercicio.posicion.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
            <br> {% trans "Objetivo terapéutico: " %}
                <strong> 
                    {% for e in ejercicio.objetivo_Terapeutico.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
            <br> {% trans "Diagnóstico: " %}
                <strong> 
                    {% for e in ejercicio.diagnostico.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
            <br> PCI: 
                <strong> 
                    {% for e in ejercicio.pci.all %}
                        {% if not forloop.last %}
                            {% if idioma == 'es' %}
                                {{e}},
                            {% elif idioma == 'en' %}
                                {{e.nombre}},
                            {% endif %}
                        {% else %}
                            {% if idioma == 'es' %}
                                {{e}}
                            {% elif idioma == 'en' %}
                                {{e.nombre}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </strong>
                
                   
            
                
            <br><br>
    
        {% endfor %}

            
        
        {% for ejercicio in ejercicio %}
        {% if ejercicio.video %}
        <div class="col-sm-12 text-center" style=" background-color: white; border-radius: 10px 10px 10px 10px;"> 
            <video class = "video-fluid" autoplay controls width='25%' height='25%' style="border-radius: 10px;">
                <source class="margin-left: auto; margin-right: auto" src="/media/ejercicios/{{ejercicio.codigo}}.mp4" type="video/mp4"></source>
            </video><br><br>
        </div>
        {% endif %}
        {% endfor %}

    
        
       

    </div> <!-- PRIMERA COLUMNA -->



</section>
</section>


   <!-- SCRIPTS -->
   <script src="{% static 'rehaWebApp/js/jquery.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/jquery.stellar.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/smoothscroll.js' %} "></script>
   <script src="{% static 'rehaWebApp/js/custom.js' %}"></script>

   <!-- Scripts -->
  <script src="{% static 'rehaWebApp/js2/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{% static 'rehaWebApp/js2/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="{% static 'rehaWebApp/js2/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
  <script src="{% static 'rehaWebApp/js2/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{% static 'rehaWebApp/js2/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
  <script src="{% static 'rehaWebApp/js2/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{% static 'rehaWebApp/js2/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="{% static 'rehaWebApp/js2/scripts.js' %}"></script> <!-- Custom scripts -->

</body>
</html>