<!DOCTYPE html>
<html lang="es">
     {% load static %}
     {% load i18n %}
<head>

	<title>RehaBOT</title>

    <link rel="shortcut icon" href="{% static 'rehaWebApp/images/favicon.png' %}">
	<!--

    Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

    -->
         <!-- Estando en Lag 7 vamos a intentar subirlo a pre -->
         
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'rehaWebApp/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/font-awesome.min.css' %}">


     <link rel="stylesheet" href="{% static 'rehaWebApp/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/flag-icon.css' %}">
     
	<link href="{% static 'rehaWebApp/css/magnific-popup.css' %}" rel="stylesheet">
     

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'rehaWebApp/css/tooplate-style.css' %}">

</head>

<body>

    
     <!-- PRE LOADER -->
     <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>


   <!-- MENU -->
   <section class="navbar custom-navbar navbar-fixed-top" role="navigation">

     <!--- <div class="floating-container">
          <div class="floating-button">🔤</div>
          <div class="element-container">
                    <a href="{% url 'setLanguage' 1 4 %}"> <span class="float-element tooltip-left"><i class="flag-icon flag-icon-esp"></i></a></span>
                    <a href="{% url 'setLanguage' 2 4 %}"> <span class="float-element tooltip-left"><i class="flag-icon flag-icon-gbr"></i></a></span>  
          </div>
     </div> --->
     
        <div class="container">
             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="{% url 'Acceso' %}" class="navbar-brand">{% trans "Rehabilitación Bot"%}</a>
                  <!--<a class="navbar-brand logo-image" href="index.html"><img src="images/chatbot.png" alt="alternative">Rehabilitación Bot</a>  -->
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                       <li><a href="{% url 'Pacientes' %}" class="smoothScroll">{% trans "Pacientes"%}</a></li>
                       <li><a href="{% url 'Ejercicios' %}" class="smoothScroll">{% trans "Ejercicios"%}</a></li>
                       <li><a href="{% url 'Sesiones' %}"class="smoothScroll">{% trans "Sesiones"%}</a></li>
                       <li><a href="#about" class="smoothScroll">{% trans "Bienvenido, "%}<strong>{{user.username}}</strong></a></li>
                       <!--<li><a href="#pricing" class="smoothScroll">Pricing</a></li>-->
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                       <!-- <li><a href="#">Say hello - <span>info@soft.co</span></a></li> -->
                       <a href="{% url 'logout' %}" class="section-btn pricing-btn" style="background-color:tomato;">{% trans "Salir"%}</a>
                  </ul>
             </div>

        </div>
   </section>

<section style="min-height: 100vh;">

    <div class="overlay" style="height: 100%;"></div> <!-- COLOR DE FONDO -->

    <div class="row justify-content-center" style="padding-top: 3em;height: 100%;" >
        <div class="col-sm-12 text-center" > 
            <div style="border-radius: 10px 10px 10px 10px; position: relative; justify-content: center;" > 
                <form class="flexsearch--form" action="busquedaSesiones" method="get">
                    {% csrf_token %}
                    <a href="{% url 'NuevaSesion' %}" class="section-btn" style="background-color:whitesmoke; color: black; ">{% trans "Añadir sesión"%}</a>
                    <a href="{% url 'SesionesNoVisibles' %}" class="section-btn" style="background-color: whitesmoke; color: black;">{% trans "Sesiones ocultas"%}</a>
                    <input name = sesiones class="section-btn" style="background-color:whitesmoke; color: black; "type="search" placeholder="{% trans "Búsqueda"%}">
                    <input class="section-btn" type="submit" value="&#128269;"/>
                    <!--- <a href="{% url 'PacientesNoVisibles' %}" class="section-btn" style="margin-left: 100px;">Filtros</a> --->
                </form>
                <!---
                <form class="flexsearch--form" method="GET" action="busquedaPacientes">
                    {% csrf_token %}
                    <input name = pacientes class="section-btn" style="background-color:whitesmoke; color: black; "type="search" placeholder="Búsqueda">
                    <input class="section-btn" type="submit" value="&#128269;"/>
                </form>--->
            </div><br><br>
        </div>
   </div> <!-- FIN DE PRIMER APARTADO -->

   <div class="row justify-content-center" style="padding-top: 1em;" >

    <div class="col-sm-11 text-left" style="padding-left: 10em;"> 
        {% if sesiones %}
        {% for sesion in sesiones %}
        {% if sesion.visible == True %}
        <div class="row" >
            <div class="col-sm-12 text-left" style=" background-color: white; border-radius: 10px 10px 10px 10px; font-size: 100%;"> 
                <br> {% trans "Paciente: "%}<strong>{{sesion.paciente.nombre}} {{sesion.paciente.apellidos}}</strong>
                {% if idioma == 'es' %}
                <br> {% trans "Fecha programada: "%}&nbsp;</b><strong>{{sesion.fechaInicial|date:"SHORT_DATE_FORMAT"}} - {{sesion.fechaFinal|date:"SHORT_DATE_FORMAT" }}</strong>
                {% elif idioma == 'en' %}
                <br> {% trans "Fecha programada: "%}&nbsp;</b><strong>{{sesion.initialDate|date:"SHORT_DATE_FORMAT"}} - {{sesion.finalDate|date:"SHORT_DATE_FORMAT" }}</strong>
                {% endif %}
                <br> {% trans "Ejercicios: "%}
                    {% for ejercicio in sesionesEjercicios %}
                        {% if sesion.id == ejercicio.sesiones.id %}
                            <strong>
                                {% if idioma == 'es' %}
                                    {{ejercicio.ejercicios.nombre}} 
                                {% elif idioma == 'en' %}
                                    {{ejercicio.ejercicios.nombre}} 
                                {% endif %}
                                / {{ejercicio.repeticiones}} {% trans "repeticiones"%}</strong><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}

                    <br><br><div style="text-align: center; margin-right: 10px; margin-bottom: 10px; padding-bottom: 10px;">
                        {% if sesion.enviado == False %}
                        <a class="section-btn" style="background-color: rgb(71, 255, 154); color: black;" href="{% url 'SesionEnviada' sesion.id %}"
                        onclick="return confirm('{% trans "¿Está seguro de que desea enviar la sesión? \nSi existen, el resto de sesiones enviadas se desharán."%}');">{% trans "Enviar Sesión"%}</a>
                        
                        <a href="{% url 'OcultarSesion' sesion.id %}" class="section-btn " style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">{% trans "Ocultar"%}</a>
                        {% else %}
                        <a class="section-btn" style="background-color: rgb(71, 255, 154); color: black; ">{% trans "Enviada  "%}&#9989;</a>
                        <a class="section-btn" style="background-color: rgb(71, 255, 154); color: black;" href="{% url 'Informes' sesion.id  %}">{% trans "Ver Informe" %}</a>
                        <a class="section-btn" style="background-color: red;color: white;" href="{% url 'cancelarEnvioSesion' sesion.id  %}">{% trans "Deshacer" %}</a>
                        <a href="{% url 'OcultarSesion' sesion.id %}" class="section-btn " style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">{% trans "Ocultar"%}</a>
                        {% endif %}
                        <br></div>
            </div>
        </div><br>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div> <!-- PRIMERA COLUMNA -->
    

</div> <!-- FIN DE SEGUNDO APARTADO -->


</section>



   <!-- SCRIPTS -->
   <script src="{% static 'rehaWebApp/js/jquery.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/jquery.stellar.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'rehaWebApp/js/smoothscroll.js' %} "></script>
   <script src="{% static 'rehaWebApp/js/custom.js' %}"></script>

   <!-- Scripts -->
  <script src="{% static 'rehaWebApp/js2/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{% static 'rehaWebApp/js2/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="{% static 'rehaWebApp/js2/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
  <script src="{% static 'rehaWebApp/js2/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{% static 'rehaWebApp/js2/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
  <script src="{% static 'rehaWebApp/js2/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{% static 'rehaWebApp/js2/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="{% static 'rehaWebApp/js2/scripts.js' %}"></script> <!-- Custom scripts -->

</body>
</html>