
{% extends "rehaWebApp/baseTerapeutas.html" %}

{% load static %}

{% block content %}



<section style="min-height: 100vh;">

    <div class="overlay"></div> <!-- COLOR DE FONDO -->

    <div class="row justify-content-center" style="padding-top: 3em;" >
        <div class="col-sm-12 text-center" > 
            <div style="border-radius: 10px 10px 10px 10px; position: relative; justify-content: center;" >         
                {% csrf_token %}
                <a href="{% url 'NuevaSesion' %}" class="section-btn" style="background-color:whitesmoke; color: black; ">Generar pdf</a>
                <a href="{% url 'SesionesNoVisibles' %}" class="section-btn" style="background-color: whitesmoke; color: black;">------</a>
            </div><br><br>
        </div>
   </div> <!-- FIN DE PRIMER APARTADO -->

   <div class="row justify-content-center" style="padding-top: 1em;" >

    <div class="col-sm-11 text-left" style="padding-left: 10em;"> 
    {% for sesion in sesiones %}

    <div class="col-sm-12 text-left" style=" background-color: white; border-radius: 10px 10px 10px 10px; font-size: 100%;">
        <br><div class="col-sm-12 text-center" style=" background-color: white; border-radius: 10px 10px 10px 10px; font-size: 140%;"> 
            Informe de la sesión de <strong>{{sesion.paciente.nombre}} {{sesion.paciente.apellidos}}</strong><br><br>
        </div><br>
        {% for r in registro %}
        {% if sesion.id == r.sesion %}
        <p>
            <strong><b>Comienzo de la sesión:</b> {{r.fechaI}}</strong><br>
            <strong><b>Final de la sesión:</b> {{r.fechaF}}</strong>
        </p>
        {% endif %}
        {% endfor %}
        {% for re in realizados %}
        {% if sesion.id == re.sesion%}
        <p><strong><b>Ejercicio: </b>{{re.ejercicio}} [{{re.fecha}}] </strong></p>
        {% endif %}
        {% endfor %}
        
        {% for v in valoracion %}
        {% if sesion.id == v.sesion %}
        <table class="w3-table w3-centered" style="text-align: center;">
            <tr>
                <th colspan="2">Valoración de {{v.ejercicio}}</th>
            </tr>
            <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta    [0 (nada) - 5 (mucho)]
                </th>
            </tr>
            <tr>
                <th>¿Comprensión de cómo se realiza el ejercicio?</td>
                <td><strong>{{v.valoracion1}}</strong></th>
            </tr>
            <tr>
                <th>¿Dificultad del ejericicio?</td>
                <td><strong>{{v.valoracion2}}</strong></th>
            </tr>
            <tr>
                <th>¿Utilidad del ejercicio para lograr los objetivos?</td>
                <td><strong>{{v.valoracion3}}</strong></th>
            </tr>
            <tr>
                <th>¿Alguna dolencia?</td>
                <td><strong >{{v.valoracion4}}</strong></th>
            </tr>
            <tr>
                <th >¿Te gustaría repetir el ejercicio en un futuro?</td>
                <td ><strong>{{v.valoracion5}}</strong></th>
            </tr>
        </table>
        {% endif %}
        {% endfor %}
        {% for r in registro %}
        {% if sesion.id == r.sesion %}
        <p>
            <strong">Comentarios: <b>{{r.comentario}}</b></strong>
        </p>
        {% endif %}
        {% endfor %}   
     </div>
    {% endfor %}
    <br>
    </div>

</div>
<!--end row -->

</section>
{% endblock %}