{% extends "rehabilitacion_app/base.html" %}

{% load static %}

{% block content %}

<!-- Damos la bienvenida al terapeuta-->
<br>
<br>
<br>
<div style="position: fixed;">
    <span class="navbar-toggler-awesome fas fa-bars" style="margin-left: 15px; margin-top: 45px;"></span><a id="abrir"
        class="abrir" href="javascript:void(0)" onclick="mostrar()">Menu</a>
</div>
<div class="container" id="bienvenida" style="margin-left: 140px">
    <div class="row">
        <div class="usuario">
            <h2
                style="color: #113448;margin-top: 35px; text-align: center; text-transform: capitalize; padding-left: 0px; ">
                Bienvenid@ {{user.get_username}} &nbsp;&nbsp; - &nbsp;&nbsp; {% for paciente in pacientes%}
                {{paciente.nombre}} {% endfor %}
            </h2>
        </div>
        {% for paciente in pacientes%}
        <div style="margin-left: 215px; margin-top: 35px;">
            <!--<button style="background-color: white; border-radius: 15px; border:3px solid #113448; box-shadow: none;"><a
                    style="color: #14bf98 ; text-decoration: none;" href="{% url 'EditarPaciente' paciente.id %}">&#43;
                    Editar paciente</a>
            </button> -->
            <button style="background-color: white; border-radius: 15px; border:3px solid #113448; box-shadow: none;"><a
                    style="color: #14bf98 ; text-decoration: none;"
                    href="{% url 'admin:accesoTerapeutas_pacientes_change' paciente.id %}">&#43;
                    Editar paciente</a>
            </button>

            <button style="background-color: white; border-radius: 15px; border:3px solid #113448; box-shadow: none;"><a
                    style="color: #14bf98 ; text-decoration: none;" href="{% url 'PacientesNoVisibles' %}">&#43; Ver pacientes ocultos</a>
            </button>
            <button style="background-color: white; border-radius: 15px; border:3px solid #113448; box-shadow: none;"><a
                    style="color: #14bf98 ; text-decoration: none;"
                    href="{% url 'admin:accesoTerapeutas_sesiones_add' %}">&#43; Añadir sesión</a></button>
        </div>
        {% endfor %}

    </div>
</div>

<!--end container -->

<!-- Vamos a crear un menu lateral a la izquierda de la pagina -->
<div id="sidebar" class="sidebar">

    <ul class="menu">
        <a id="cerrar" class="cerrar" href="#" onclick="ocultar()" style="background-color:transparent;"><span
                class="navbar-toggler-awesome fas fa-times " style="margin-left: 190px;"></span></a>
        <li><a href="https://www.rehabot.twyncare.com/admin/">Panel de administración</a></li>
        <li><a href="{% url 'Acceso' %}">Página Principal</a></li>
        <li><a href="{% url 'Pacientes' %}">Pacientes</a></li>
        <li><a href="{% url 'Ejercicios' %}">Ejercicios</a></li>
        <li><a href="{% url 'Sesiones' %}">Sesiones</a></li>
    </ul>

</div>

<!-- end of lateralMenu -->

<!-- MOSTRAMOS LOS PACIENTES -->

<div class="container pacientes" id="paciente" style="margin-left: 140px; width: 100%;">
    <br>
    {% for paciente in pacientes%}
    {% if paciente.terapeuta.nombreUsuario == user.username %}
    <div class="col-4" style="background-color: #14bf98; border-radius: 5px; float: left;">
        <div class="tab-content" id="v-pills-tabContent">
            <!-- RESUMEN -->
            <div class="tab-pane fade show active" role="tabpanel" style="color: #113448;">
                <h3 class="text-center" style="color: #113448; margin-top: 10px;">Datos Paciente</h3>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Nombre del
                        paciente:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{paciente.nombre}}
                        {{paciente.apellidos}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Edad:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{paciente.calcula_edad}}&nbsp;años</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Diagnóstico:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{paciente.diagnostico}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">MACS:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{paciente.macs}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">GMFCS:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{paciente.gmfcs}}</strong>
                </p>
                <!-- Tabla que recoge la movilidad funcional a escala -->
                <table class="w3-table w3-centered" style="text-align: center;">
                    <tr>
                        <th colspan="2" style="color: #113448; font-size: 16px; text-transform: uppercase;">FMS</th>
                    </tr>
                    <tr>
                        <th scope="col" style="color: #113448; font-size: 14px; text-transform: uppercase;">Distancia
                            Caminada </th>
                        <th scope="col" style="color: #113448; font-size: 14px; text-transform: uppercase;">
                            Clasificación
                        </th>
                    </tr>
                    <tr>
                        <th style="color: #113448; font-size: 13px; text-transform: uppercase;">5 metros</td>
                        <td style="color: white; font-size: 13px; text-transform: uppercase;"><strong
                                style="color: white;">{{paciente.calificacion5}}</strong></th>
                    </tr>
                    <tr>
                        <th style="color: #113448; font-size: 13px; text-transform: uppercase;">50 metros</td>
                        <td style="color: white; font-size: 13px; text-transform: uppercase;"><strong
                                style="color: white;">{{paciente.calificacion50}}</strong></th>
                    </tr>
                    <tr>
                        <th style="color: #113448; font-size: 13px; text-transform: uppercase;">500 metros</td>
                        <td style="color: white; font-size: 13px; text-transform: uppercase;"><strong
                                style="color: white;">{{paciente.calificacion500}}</strong></th>
                    </tr>
                </table>
                <br>
                <p style="color: #113448; font-size: 15px; text-transform: uppercase; text-align: center;">
                    <strong>Momento de entrenamiento preferido</strong>
                </p>
                {% for f in formulario %}
                {% if f.idUser == paciente.id%}
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Días:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{f.dia}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Momento del
                        día:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{f.momento}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Horas
                        preferidas:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">&nbsp;{{f.horas}}</strong>
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div style=" float: left; position: relative; width: 60%; margin-left: 15px;">
        <div style=" background-color: #113448; border-radius: 5px;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a style=" background-color: transparent;  text-decoration: none;" class="nav-link active"
                        id="pills-sesiones-tab" data-toggle="pill" href="#pills-sesiones" role="tab"
                        aria-controls="pills-sesiones" aria-selected="true">Ver Sesiones</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a style=" background-color: transparent;  text-decoration: none;" class="nav-link"
                        id="pills-historia-tab" data-toggle="pill" href="#pills-historia" role="tab"
                        aria-controls="pills-historia" aria-selected="true">Historia Clínica</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a style=" background-color: transparent; border: none; text-decoration: none;" class=" nav-link"
                        id="pills-detallado-tab" data-toggle="pill" href="#pills-detallado" role="tab"
                        aria-controls="pills-detallado" aria-selected="true">Datos Bot</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent"
            style="background-color: #14bf98; border-radius: 5px;  margin-top: -15px;">
            <!-- Detallado -->
            <div class="tab-pane fade" id="pills-detallado" role="tabpanel" aria-labelledby="pills-detallado-tab">
                <h3 class="text-center" style="color: #113448; margin-top: 10px; padding-top: 10px;">Datos Uso Bot</h3>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase; margin-left: 1rem;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Nombre de
                        usuario:&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">{{paciente.usuario}}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase; margin-left: 1rem;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Contraseña(BOT):&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">{{paciente.contraseña}}</strong>
                </p>
                <br>
            </div>
            <!-- Historia Clinica -->
            <div class="tab-pane fade" id="pills-historia" role="tabpanel" aria-labelledby="pills-historia-tab">
                <h5 class="text-center"
                    style="color: #ffff; font-size: 15px; text-transform: uppercase; margin-top: 10px; padding-top: 10px;">
                    <strong style="color: #ffff; text-transform: capitalize;">{{paciente.nombre}}
                        {{paciente.apellidos}}</strong>
                </h5>
                <br>
            </div>
            <!-- Sesiones Sin Programar-->
            <div class="tab-pane fade show active" id="pills-sesiones" role="tabpanel"
                aria-labelledby="pills-sesiones-tab" style="padding-left: 10px;">
                <h5 class="text-center"
                    style="color: #ffff; font-size: 15px; text-transform: uppercase; margin-top: 10px; padding-top: 10px;">
                    <strong style="color: #ffff;">SESIONES DE {{paciente.nombre}} {{paciente.apellidos}}<strong>
                </h5>
                {% for sesion in sesiones %}
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Fecha
                        Programada&nbsp;</b><strong
                        style="color: #ffff; text-transform: capitalize;">{{sesion.fecha_Inicial|date:"SHORT_DATE_FORMAT"}}
                        - {{sesion.fecha_Final|date:"SHORT_DATE_FORMAT" }}</strong>
                </p>
                <p style="color: #ffff; font-size: 15px; text-transform: uppercase;"><b
                        style="color: #113448; font-size: 13px; text-transform: uppercase;">Ejercicios:&nbsp;</b>
                    {% for ejercicio in sesionesEjercicios %}
                    {% if sesion.id == ejercicio.sesiones.id %}
                    <strong
                        style="color: #ffff; text-transform: none;">{{ejercicio.ejercicios.nombre}}/{{ejercicio.repeticiones}}rep.</strong>
                    {% endif %}
                    {% endfor %}
                </p>
                <div style="text-align: center; margin-right: 10px;margin-bottom: 10px; padding-bottom: 10px;">
                    {% if sesion.enviado == False %}
                    <button style="background-color: #113448; color: white; border-radius: 5px;"><a
                            style="text-decoration: none;"
                            href="{% url 'admin:accesoTerapeutas_sesiones_change' sesion.id %}">Editar Sesión</a></button>
                    <button style="background-color: #113448; color: white; border-radius: 5px;"><a
                                style="text-decoration: none;"
                                href="{% url 'SesionEnviada' sesion.id %}">Enviar Sesión</a></button>
                    {% else %}
                    <button style="background-color: #41aceb; color: white; box-shadow: none; border: none;"><a style="text-decoration: none;">Sesión Enviada &#10004;</a></button>
                    <button style="background-color: #113448; color: white; border-radius: 5px;"><a
                        style="text-decoration: none;" href="{% url 'Informes' sesion.id %}">Ver Informe</a></button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--end row -->
    {% endif %}
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<!-- Codigo en js que controla en menu que se desliza en la parte izquierda -->
<script type="text/javascript" src="{% static 'rehabilitacion_app/js/menu2.js' %}"></script>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}