{% extends "rehabilitacion_app/base.html" %}

{% load static %}

{% block content %}
<!-- Damos la bienvenida al terapeuta-->
<br>
<br>
<br>
<div style="position: fixed;">
    <span class="navbar-toggler-awesome fas fa-bars" style="margin-left: 15px; margin-top: 45px;"></span><a id="abrir"
        class="abrir" href="javascript:void(0)" onclick="mostrar()">Menu</a>
</div>
<div class="container" id="bienvenida" style="margin-left: 140px">
    <div class="row">
        <div class="usuario">
            <h2
                style="color: #113448;margin-top: 35px; text-align: center; text-transform: capitalize; padding-left: 0px;">
                Bienvenid@ {{user.get_username}} &nbsp;&nbsp; - &nbsp;&nbsp; SESIONES </h2>
        </div>
        
    </div>
</div>
<!--end container -->

<!-- Vamos a crear un menu lateral a la izquierda de la pagina -->
<div id="sidebar" class="sidebar">
    <ul class="menu">
        <a id="cerrar" class="cerrar" href="#" onclick="ocultar()" style="background-color:transparent;"><span
                class="navbar-toggler-awesome fas fa-times " style="margin-left: 190px;"></span></a>
        <li><a href="https://www.rehabot.twyncare.com/admin/">Panel de administración</a></li>
        <li><a href="{% url 'Acceso' %}">Página Principal</a></li>
        <li><a href="{% url 'Pacientes' %}">Pacientes</a></li>
        <li><a href="{% url 'Ejercicios' %}">Ejercicios</a></li>
        <li><a href="{% url 'Sesiones' %}">Sesiones</a></li>
    </ul>

</div>

<!-- end of lateralMenu -->

<!-- MOSTRAMOS LAS SESIONES -->

<div class="container" id="contenido" style="margin-left: 140px">
    <h4>La sesion ha sido enviada correctamente.</h4>
    <h4>RECUERDA: La sesión estará disponible para el usuario a las 00:00 de mañana.</h4>
</div>

<!-- Codigo en js que controla en menu que se desliza en la parte izquierda -->
<script type="text/javascript" src="{% static 'rehabilitacion_app/js/menu.js' %}"></script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}